{% extends 'base.html.twig' %}

{% block title %}Votre compte - Beteclic{% endblock %}

{% block body %}
    <div class="account_layout">
        <div class="ui-wrapper account_info">
            <h2>Mes informations</h2>
            <div class="account_info_picture">
                <img src="{{ asset('pictures/' ~ user.picture) }}" alt="Image de profil">
            </div>
            <div class="account_info_informations">
                <ul>
                    <li>
                        <p>Nom :</p>
                        <p>{{ user.firstName }}</p>
                    </li>
                    <li>
                        <p>Prénom :</p>
                        <p>{{ user.lastName }}</p>
                    </li>
                    <li>
                        <p>Email :</p>
                        <p>{{ user.email }}</p>
                    </li>
                    <li>
                        <p>Âge :</p>
                        <p>{{ user.age }}</p>
                    </li>
                    <li>
                        <p>Bêtecoin :</p>
                        <p>{{ user.betecoin }}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ui-wrapper account_bet">
            <h2>Mes paris</h2>
            <div class="account_bet_container">
                {% for bet in ownBets %}
                    {% if bet.selectionEventId.label == bet.selectionEventId.eventId.selectionEventId.label %}
                        {% set statusBet = 'win' %}
                    {% else %}
                        {% set statusBet = 'lose' %}
                    {% endif %}
                    {% include 'components/bets_card/bets_card.html.twig' with {'status': statusBet, 'label' : bet.selectionEventId.eventId.title, 'answer' : bet.selectionEventId.label, 'amount' : bet.amount, 'odd' : bet.odd, 'isOpen': bet.selectionEventId.eventId.isOpen} %}
                {% else %}
                    <div class="account_bet_noBets">
                        <div class="account_bet_noBets_picto">
                            <img src="{{ asset('images/picto/noBets.svg') }}" alt="noBets">
                        </div>
                        <div class="account_bet_noBets_info">
                            <p>Tu n'as pas de paris en cours. Tente ta chance avec le top des paris!</p>
                            {% include 'components/button/btn.html.twig' with { 'url': '/', 'label': 'Voir le top des paris', 'class': 'parisBtn mediumSize'}%}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{#    <h2>Tous les paris</h2>#}
{#     C'est juste tous les paris, actuellement#}
{#    {% for bet in allBets %}#}
{#        <p>{{ bet.selectionEventId.eventId.title }} - {{ bet.selectionEventId.label }}</p>#}
{#    {% else %}#}
{#        <p>Il n'y a pas de paris actuellement.</p>#}
{#    {% endfor %}#}


{#    <h2>Mes paris</h2>#}
{#     {% for bet in ownBets %}#}
{#        <p>{{ bet.selectionEventId.eventId.title }} - {{ bet.selectionEventId.label }}</p>#}
{#    {% else %}#}
{#        <p>Vous n'avez pas de paris actuellement.</p>#}
{#    {% endfor %}#}

{% endblock %}
