{% extends 'base.html.twig' %}

{% block title %}Votre compte - Beteclic{% endblock %}

{% block body %}
    <h1>Votre compte</h1>

    <p>Email : {{ user.email }}</p>
    <p>Nom : {{ user.firstName }} {{ user.lastName }}</p>
    <p>Betecoin : {{ user.betecoin }}</p>
    <p>Âge : {{ user.age }}</p>
    <img style="width: 140px;" src="{{ asset('pictures/' ~ user.picture) }}" alt="Image de profil">

    <h2>Tous les paris</h2>
    {# C'est juste tous les paris actuellement #}
    {% for bet in bets %}
        <p>{{ bet.selectionEventId.eventId.title }} - {{ bet.selectionEventId.label }}</p>
    {% else %}
        <p>Il n'y a pas de paris actuellement.</p>
    {% endfor %}
   

{% endblock %}
