{% extends 'base.html.twig' %}

{% block title %}Beteclic - Accueil{% endblock %}

{% block body %}
<div class="layout">
    <aside>
        <div class="content">
        
            <h3 class="title_categorie">Catégories</h3>
            <ul class="categories">
            {% for category in categories %}
                <li>
                    <a href="{{ path('app_category_show', {'id': category.getId()}) }}">{{ category.getName() }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </aside>
    <main>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="inscription__offer">
                <a href="/register">
                    <h2>10 Betecoins offerts pour votre première inscription.</h2>
                    <span class="inscription__offer-btn">Je m'inscris</span>
                </a>
            </div>
        {% endif %}
        <section id="last_bets">
            {% if events|length > 0 %}
                <h2 class="title_section">Les deux derniers bets</h2>
                {% for event in events|slice(-2) %}
                    <article class="bet_card">
                        <div class="bet_card-infos">
                            <h3>{{ event.getTitle() }}</h3>
                            <p>{{ event.getDescription }}</p>
                        </div>
                        <div class="bet_card-buttons">
                        {% for selectionEvent in event.getSelectionEvents() %}
                            <a href="{{ path('app_bet_new', {'eventId': event.getId(), 'selectionEventId': selectionEvent.getId()}) }}" class="oddButton">
                                <span class="label">{{ selectionEvent.getLabel() }}</span>
                                <span class="odd">{{ selectionEvent.getOdd() }}</span>
                            </a>
                        {% endfor %}
                        </div>
                    </article>
                {% endfor %}
            {% else %}
                <p>Il n'y a pas encore de bets d'enregistré...</p>
            {% endif %}
        </section>
        {% if events|length > 3 %}
            <section id="bets_available">
                <h2 class="title_section">Les bets actifs</h2>
                    {% for event in events|slice(0, -2) %}
                    <article class="bet_card">
                        <div class="bet_card-infos">
                            <h3>{{ event.getTitle() }}</h3>
                            <p>{{ event.getDescription }}</p>
                        </div>
                        <div class="bet_card-buttons">
                            {% for selectionEvent in event.getSelectionEvents() %}
                                <a href="{{ path('app_bet_new', {'eventId': event.getId(), 'selectionEventId': selectionEvent.getId()}) }}" class="oddButton">
                                    <span class="label">{{ selectionEvent.getLabel() }}</span>
                                    <span class="odd">{{ selectionEvent.getOdd() }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </article>
                {% endfor %}
            </section>
        {% endif %}
    </main>
</div>
{% endblock %}
