{% extends 'base.html.twig' %}

{% block title %}Beteclic - Accueil{% endblock %}

{% block body %}
    <h1>Liste de tous les paris par catégorie</h1> 

    {% for category in categories %}
        <h2>{{ category.getName() }}</h2>
        {% for event in category.getEvents() %}
            {% if event.isIsOpen() %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.getTitle() }}</h5>
                        <p class="card-text">{{ event.getDescription() }}</p>

                        {% for selectionEvent in event.getSelectionEvents() %}
                            <div>
                                <span>{{ selectionEvent.getLabel() }}</span>
                                <span>{{ selectionEvent.getOdd() }}</span>
                                {# <a href="{{ path('path_to_your_form', {'eventId': event.getId(), 'selectionEventId': selectionEvent.getId()}) }}">Parier</a> #}
                            </div>
                        {% endfor %}

                        <a href="#" class="btn btn-primary">Voir plus</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
