{% extends 'base.html.twig' %}

{% block title %}Beteclic - Inscription{% endblock %}

{% block body %}
    <h1>Inscrivez-vous</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        {{ form_row(registrationForm.firstName, {
            label: 'Prénom'
        }) }}
        {{ form_row(registrationForm.lastName, {
            label: 'Nom de famille'
        }) }}
        {{ form_row(registrationForm.dateOfBirth, {
            label: 'Date de naissance'
        }) }}
        {{ form_row(registrationForm.image, {
            label: 'Image de profil'
        }) }}

        <button type="submit">S'inscrire</button>
    {{ form_end(registrationForm) }}


    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}

