{% extends 'base.html.twig' %}

{% block title %}SelectionEvent index{% endblock %}

{% block body %}
    <h1>SelectionEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Odd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for selection_event in selection_events %}
            <tr>
                <td>{{ selection_event.id }}</td>
                <td>{{ selection_event.label }}</td>
                <td>{{ selection_event.odd }}</td>
                <td>
                    <a href="{{ path('app_selection_event_show', {'id': selection_event.id}) }}">show</a>
                    <a href="{{ path('app_selection_event_edit', {'id': selection_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_selection_event_new') }}">Create new</a>
{% endblock %}
