{% extends 'base.html.twig' %}

{% block title %}Beteclic - {{ category.name }}{% endblock %}

{% block body %}

    <div class="layout">
        <main>
            <h1>{{ category.name }}</h1>
            <br />
            {% for event in category.getEvents() %}
                {% if event.isIsOpen() %}
                    <article class="bet_card bet_card--category">
                        <div class="bet_card-infos">
                            <h3>{{ event.getTitle() }}</h3>
                            <p>{{ event.getDescription }}</p>
                        </div>

                        <div class="bet_card-buttons">
                        {% for selectionEvent in event.getSelectionEvents() %}
                            <a href="{{ path('app_bet_new', {'eventId': event.getId(), 'selectionEventId': selectionEvent.getId()}) }}" class="oddButton">
                                <span class="label">{{ selectionEvent.getLabel() }}</span>
                                <span class="odd">{{ selectionEvent.getOdd() }}</span>
                            </a>
                        {% endfor %}
                        </div>
                    </article>
                    <br />
                {% endif %}
            {% endfor %}
        </main>
    </div>
{% endblock %}
